<% /* 
COMP 229 Assignment 2 - edit.ejs
Student Name: Kam Hung Chan (Karlis)
ID: 301232477
Date: October 14, 2022
*/ %>

<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header'); %>

    <div class="content">
    <h1><%=page%></h1>
    <form class="form" method="POST">
        <div>
            <label for="name">Contact Name</label>
            <input type="text" 
            id="name"
            name="name" 
            value="<%=contact.name%>"
            required>
        </div>

        <div>
        <p>
            <label for="tel">Contact Number</label>
            <input type="number" 
            id="tel"
            name="tel" 
            value="<%=contact.tel%>"
            required>
        </p>
        </div>

        <div>
        <p>
            <label for="email">Email</label>
            <input type="text" id="email"
            name="email"
            value="<%=contact.email%>"
            required>
        <p>
        </div>
        <p>
        <input type="submit" value="Submit"/>
        
            <a href="/business">
                <i>Cancel</i> </a>
        </p>
    </form>
    <%- include('../partials/footer'); %>
    </div>

</body>
</html>