<% /* 
COMP 229 Assignment 1 - aboutme.ejs
Student Name: Kam Hung Chan (Karlis)
ID: 301232477
Date: October 2, 2022
*/ %>

<%- include('partials/head'); %>

  <body>
    <%- include('partials/header'); %>
    <div class="content">
    <h1><%=page%></h1>

    <img id="profilepic" src="<%=img%>" alt="<%=imgAlt%>" />
    <div id="aboutme">
    <h2>Kam Hung Chan, Karlis</h2>
    <p>
      I am a student in the Software Engineering Technician Program at
      Centennial College where I leant programming skills including JavaScript,
      HTML, CSS, C# and SQL, and most importantly, I gained the skills in
      problem solving and a solid foundation in software engineering.    
    </p>
    </div>
    <p><a href="cv.pdf">→ Download My Resume</a></p>
    <br/>
    <%- include('partials/footer'); %>
</div>

  </body>
</html>
