<% /* 
COMP 229 Assignment 2 - business.ejs
Student Name: Kam Hung Chan (Karlis)
ID: 301232477
Date: October 14, 2022
*/ %>

<%- include('partials/head'); %>

<body>

    <%- include('partials/header'); %>

    <div class="content">
    <h1><%=page%></h1>
    <table class="list">
                <!-- Header Row-->
                <tr>
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-1">Email Address</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= ContactList[count].name %></td>
                        <td class="text-center col-2"><%= ContactList[count].tel %></td>
                        <td class="text-center col-1"><%= ContactList[count].email %></td>
                        <td class="text-center col-1">
                            <a href="/business/edit/<%= ContactList[count]._id %>">
                                <i>Edit</i>
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/business/delete/<%= ContactList[count]._id %>">
                                <i>Delete</i>
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
    <%- include('partials/footer'); %>
    </div>

</body>
</html>