<% /* 
COMP 229 Assignment 2 - business.ejs
Student Name: Kam Hung Chan (Karlis)
ID: 301232477
Date: October 14, 2022
*/ %>

<%- include('partials/head'); %>

<body>

    <%- include('partials/header'); %>

    <div class="content">
    <a href="business/add">
    <div class="addContact">
    <img class="addButton" src="/img/add.png" alt="Add Contact Button"><p>Add Contact</p> 
    </div>
    </a>
    <h1><%=page%></h1>
   
    <table class="list">
                <!-- Header Row-->
                <tr>
                    <th class="col1">Contact Name</th>
                    <th class="col1">Contact Number</th>
                    <th class="col2">Email Address</th>
                    <th class="col3">Edit</th>
                    <th class="col3">Delete</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="col1"><%= ContactList[count].name %></td>
                        <td class="col1"><%= ContactList[count].tel %></td>
                        <td class="col2"><%= ContactList[count].email %></td>
                        <td class="col3">
                            <a href="/business/edit/<%= ContactList[count]._id %>">
                                <img class="listIcon" src="img/edit.png">
                            </a>
                        </td>
                        <td class="col3">
                            <a href="/business/delete/<%= ContactList[count]._id %>">
                                <img class="listIcon" src="img/delete.png">
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
    <%- include('partials/footer'); %>
    </div>

</body>
</html>